In [ ]:
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer

In [ ]:
df = pd.read_excel("/content/GoFundMe_Dataset.xlsx")

In [ ]:
df.shape

(1242, 15)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1242 non-null   int64
 1   Url                    1241 non-null   object
 2   Category               1241 non-null   object
 3   Position               1239 non-null   float64
 4   Title                  1239 non-null   object
 5   Location               1235 non-null   object
 6   Amount_Raised          1232 non-null   float64
 7   Goal                   1232 non-null   object
 8   Number_of_Donators     1232 non-null   object
 9   Length_of_Fundraising  1231 non-null   object
 10  FB_Shares              1194 non-null   object
 11  GFM_hearts             1234 non-null   object
 12  Text                   1237 non-null   object
 13  Latitude               1235 non-null   float64
 14  Longitude              1235 non-null   float64
dtypes: float64(4), int64(1), object(10)
memory usage: 145.7+ KB

In [ ]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [ ]:
# Replace any missing or null values in the 'Title' and 'description' columns with an empty string
df['Title'] = df['Title'].fillna('')
df['Text'] = df['Text'].fillna('')

In [ ]:
df['Title'] = df['Title'].astype(str)
df['Text'] = df['Text'].astype(str)

In [ ]:
df.sample(10)

,Url,Category,Position,Title,Location,Amount_Raised,Goal,Number_of_Donators,Length_of_Fundraising,FB_Shares,GFM_hearts,Text,Latitude,Longitude
837,https://www.gofundme.com/tomarastribe-ittakesa...,Family,9.0,Tomara's Tribe: It Takes A Village,"HOUSTON, TX",53970.0,60000,681,1 month,2.4k,722,Mary Underwood needs your help today! Tomara's...,29.760427,-95.369803
1133,https://www.gofundme.com/marchforourliveslouis...,Volunteer,11.0,March For Our Lives Louisville,"LOUISVILLE, KY",9930.0,10000,144,5 months,334,143,Chris Rowzee needs your help today! March For ...,38.252665,-85.758456
1197,https://www.gofundme.com/in-memory-of-chava-or...,Wishes,9.0,In memory of Chava Ortiz Jr.,"ACWORTH, GA",18055.0,15000,75,2 months,337,79,Rosa Tejeda needs your help today! In memory o...,34.065933,-84.676880
1063,https://www.gofundme.com/singing-opportunity-o...,Travel,12.0,Singing opportunity of a lifetime,"SANTA FE, NM",7120.0,5750,78,5 months,90,59,Karren Sahler needs your help today! Singing o...,35.686975,-105.937799
201,https://www.gofundme.com/support-family-of-jin...,Emergency,17.0,Support family of Jinu Joseph,"PEARLAND, TX",73275.0,85000,721,18 days,816,720,Bincy Jacob needs your help today! Support fam...,29.563567,-95.286047
1150,https://www.gofundme.com/vote-for-our-lives-re...,Volunteer,17.0,Vote for Our Lives Redwood City,"SAN CARLOS, CA",7500.0,10000,34,2 months,53,34,Jonathan Romanowsky needs your help today! Vot...,37.507159,-122.260522
340,https://www.gofundme.com/cannizzaro-children-e...,Education,15.0,Cannizzaro Children Education Fund,"TOLLAND, CT",29148.0,40000,169,1 month,96,175,Patricia Cannizzaro needs your help today! Can...,41.871487,-72.368693
730,https://www.gofundme.com/sphinx-restoration-pr...,Event,21.0,Sphinx Restoration Project,"BIRMINGHAM, AL",6105.0,6000,173,6 months,500,158,Rundgren Radio needs your help today! Sphinx R...,33.518589,-86.810357
66,https://www.gofundme.com/rob-ryan,Medical,22.0,Help Rob Ryan Beat Cancer!,"LAKE SAINT LOUIS, MO",92970.0,75000,614,2 months,1.3k,614,Jennifer Ryan needs your help today! Help Rob ...,38.780938,-90.788360
128,https://www.gofundme.com/bereaving-inbaraj-ved...,Memorial,17.0,Bereaving Inbaraj Vedasagayam,"EDISON, NJ",70852.0,75000,690,3 months,623,689,Gifta Lorraine Sundar Singh needs your help to...,40.518715,-74.412095

In [ ]:
import nltk
from nltk.corpus import stopwords
from string import punctuation

In [ ]:
# Download stopwords if not already downloaded
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
# Define a function to remove symbols and stopwords from text
def clean_text(text):
    # Remove symbols
    text = ''.join([c for c in text if c not in punctuation])

    # Tokenize text into words
    words = nltk.word_tokenize(text.lower())

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if word not in stop_words]

    # Join the words back into a string
    text = ' '.join(words)

    return text

# Apply the function to the 'Title' and 'Text' columns
df['Title'] = df['Title'].apply(clean_text)
df['Text'] = df['Text'].apply(clean_text)

**Creating New Variables**

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
# Tokenize the 'Text' column into a list of words for each row
df['Text'] = df['Text'].apply(word_tokenize)
df['Title'] = df['Title'].apply(word_tokenize)

In [ ]:
# Apply the Porter stemming algorithm to each word in the 'Tokenized' column
stemmer = PorterStemmer()
df['Text'] = df['Text'].apply(lambda x: [stemmer.stem(word) for word in x])
df['Title'] = df['Title'].apply(lambda x: [stemmer.stem(word) for word in x])

In [ ]:
# Create a list of all unique stems that are at least 3 letters long
unique_stems = set([stem for sublist in df['Text'] for stem in sublist if len(stem) >= 3])
#unique_stems = set([stem for sublist in df['Title'] for stem in sublist if len(stem) >= 3])

In [ ]:
# Count the frequency of each stem in the dataset
stem_counts = {}
for stem in unique_stems:
    stem_counts[stem] = sum([row.count(stem) for row in df['Text']])

In [ ]:
# Sort the stems by frequency in descending order
sorted_stems = sorted(stem_counts.items(), key=lambda x: x[1], reverse=True)

In [ ]:
# Select the top N most frequent stems (e.g. N=1000)
top_n_stems = [stem[0] for stem in sorted_stems[:1000]]

In [ ]:
# Create a list of all bigrams in the dataset
all_bigrams = []
for row in df['Text']:
    all_bigrams += nltk.bigrams(row)

In [ ]:
# Count the frequency of each bigram in the dataset
bigram_counts = nltk.FreqDist(all_bigrams)

In [ ]:
# Select the bigrams that appear in at least 400 Text
top_bigrams = [bigram for bigram, count in bigram_counts.items() if count >= 400]

In [ ]:
# Print the results
print(f"Number of rows: {len(df)}")
print(f"Number of unique stems: {len(unique_stems)}")
print(f"Number of stems that appear at least once: {len(stem_counts)}")
print(f"Number of stems selected for analysis: {len(top_n_stems)}")
print(f"Number of bigrams in dataset: {len(all_bigrams)}")
print(f"Number of bigrams selected for analysis: {len(top_bigrams)}")

Number of rows: 1242
Number of unique stems: 9137
Number of stems that appear at least once: 9137
Number of stems selected for analysis: 1000
Number of bigrams in dataset: 87227
Number of bigrams selected for analysis: 4

In [ ]:
df.head()

,Url,Category,Position,Title,Location,Amount_Raised,Goal,Number_of_Donators,Length_of_Fundraising,FB_Shares,GFM_hearts,Text,Latitude,Longitude
0,https://www.gofundme.com/3ctqm-medical-bills-f...,Medical,0.0,"[92, yr, old, man, brutal, attack, .]","LOS ANGELES, CA",327345.0,15000,12167,1 month,26k,12k,"[rodolfo, rodriguez, need, your, help, today, ...",34.052234,-118.243685
1,https://www.gofundme.com/olivia-stoy-bone-marr...,Medical,0.0,"[olivia, stoy, :, transplant, &, liv, it, up, !]","ASHLEY, IN",316261.0,1.0M,5598,3 months,12k,5.7k,"[thoma, stoy, need, your, help, today, !, oliv...",41.527273,-85.065523
2,https://www.gofundme.com/autologous-Tcell-Tran...,Medical,1.0,"[autolog, t, cell, transplant]","STATEN ISLAND, NY",241125.0,250000,841,2 months,1.8k,836,"[philip, defont, need, your, help, today, !, a...",40.579532,-74.150201
3,https://www.gofundme.com/a-chance-of-rebirth,Medical,1.0,"[a, chanc, of, rebirth]","DUBLIN, CA",237424.0,225000,4708,1 month,9.7k,4.7k,"[sriram, kanniah, need, your, help, today, !, ...",37.702152,-121.935792
4,https://www.gofundme.com/teamclaire,Medical,1.0,"[clair, wineland, need, our, help]","GARDEN GROVE, CA",236590.0,225000,8393,2 months,6.4k,8.9k,"[melissa, yeager, need, your, help, today, !, ...",33.774269,-117.937995

In [ ]:
print(df.loc[0, 'Text'])

['rodolfo', 'rodriguez', 'need', 'your', 'help', 'today', '!', '92', 'yr', 'old', 'man', 'brutal', 'attack', '.', '-', 'on', 'juli', '4th', 'at', 'around', '7pm', ',', 'my', 'grandfath', 'rodolfo', 'rodriguez', 'Ã¢', 'whose', '92', 'year', 'of', 'age', 'wa', 'go', 'for', 'hi', 'daili', 'walk', 'around', 'the', 'block', 'when', 'he', 'wa', 'assault', 'by', 'and', 'african', 'american', 'ladi', 'and', 'five', 'other', 'guy', '.', 'he', 'is', 'do', 'realli', 'bad', ',', 'ha', 'a', 'lot', 'of', 'bruis', 'on', 'hi', 'face', 'and', 'a', 'broken', 'cheekbon', '.', 'el', '4', 'de', 'julio', '...']

**1. length of strings**

In [ ]:
# Define a function to calculate the length of a string
def get_length(string):
    return len(string)

In [ ]:
# Add a new column for the length of the 'Title' column
df['Title_Length'] = df['Title'].apply(get_length)

In [ ]:
# Add a new column for the length of the 'Text' column
df['Text_Length'] = df['Text'].apply(get_length)

In [ ]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [ ]:
df['Text'] = df['Text'].apply(collapse)
df['Title'] = df['Title'].apply(collapse)

In [ ]:
df['Text'] = df['Text'].apply(lambda x: " ".join(x))

**2. % of long words (6+ letters)**

In [ ]:
import re

In [ ]:
def get_perc_words_six_or_more_letters(text):
    words_six_or_more_letters = re.findall(r'\b\w{6,}\b', text)
    # Check if there are any words in the text
    if len(text.split()) == 0:
        return 0
    # Calculate the percentage of words with six or more letters
    perc_words_six_or_more_letters = len(words_six_or_more_letters) / len(text.split()) * 100
    return perc_words_six_or_more_letters

In [ ]:
df['Perc_long_words'] = df['Text'].apply(get_perc_words_six_or_more_letters)

In [ ]:
df.head()

,Url,Category,Position,Title,Location,Amount_Raised,Goal,Number_of_Donators,Length_of_Fundraising,FB_Shares,GFM_hearts,Text,Latitude,Longitude,Title_Length,Text_Length,Perc_long_words
0,https://www.gofundme.com/3ctqm-medical-bills-f...,Medical,0.0,"[92, yr, old, man, brutal, attack, .]","LOS ANGELES, CA",327345.0,15000,12167,1 month,26k,12k,rodolfo rodriguez need your help today ! 92 yr...,34.052234,-118.243685,7,79,18.987342
1,https://www.gofundme.com/olivia-stoy-bone-marr...,Medical,0.0,"[olivia, stoy, :, transplant, &, liv, it, up, !]","ASHLEY, IN",316261.0,1.0M,5598,3 months,12k,5.7k,thoma stoy need your help today ! olivia stoy ...,41.527273,-85.065523,9,76,13.157895
2,https://www.gofundme.com/autologous-Tcell-Tran...,Medical,1.0,"[autolog, t, cell, transplant]","STATEN ISLAND, NY",241125.0,250000,841,2 months,1.8k,836,philip defont need your help today ! autolog t...,40.579532,-74.150201,4,70,24.285714
3,https://www.gofundme.com/a-chance-of-rebirth,Medical,1.0,"[a, chanc, of, rebirth]","DUBLIN, CA",237424.0,225000,4708,1 month,9.7k,4.7k,sriram kanniah need your help today ! a chanc ...,37.702152,-121.935792,4,76,11.842105
4,https://www.gofundme.com/teamclaire,Medical,1.0,"[clair, wineland, need, our, help]","GARDEN GROVE, CA",236590.0,225000,8393,2 months,6.4k,8.9k,melissa yeager need your help today ! clair wi...,33.774269,-117.937995,5,72,18.055556

**The âsimple measure of gobbledygookâ (SMOG;
McLaughlin, 1969). This measures writing quality by
mapping it to number of years of formal education
needed to easily understand the text in first reading what it means**

In [ ]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem import WordNetLemmatizer

In [ ]:
import nltk
nltk.download('cmudict')

[nltk_data] Downloading package cmudict to /root/nltk_data...
[nltk_data]   Unzipping corpora/cmudict.zip.

True

In [ ]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

def get_smog_index(text):
    stop_words = set(stopwords.words('english'))
    # Tokenize the text into words and sentences
    words = word_tokenize(text)
    sentences = sent_tokenize(text)

    # Lemmatize the words
    lemmatizer = WordNetLemmatizer()
    words_lemmatized = [lemmatizer.lemmatize(word) for word in words]

    # Count the number of words with 3 or more syllables
    polysyllable_words = []
    for word in words_lemmatized:
        try:
            if len(nltk.corpus.cmudict.dict()[word.lower()][0]) >= 3:
                polysyllable_words.append(word)
        except KeyError:
            continue
    num_polysyllable_words = len(polysyllable_words)

    # Calculate the SMOG index
    smog_index = 1.043 * (30 * (num_polysyllable_words / len(sentences)) ** 0.5 + 3.1291)
    return smog_index

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
import nltk
nltk.download('cmudict')

[nltk_data] Downloading package cmudict to /root/nltk_data...
[nltk_data]   Unzipping corpora/cmudict.zip.

True

In [ ]:
!pip install pyenchant

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyenchant
  Downloading pyenchant-3.2.2-py3-none-any.whl (55 kB)
     ââââââââââââââââââââââââââââââââââââââââ 55.7/55.7 kB 4.8 MB/s eta 0:00:00
Installing collected packages: pyenchant
Successfully installed pyenchant-3.2.2

**A count of spelling mistakes.**

In [ ]:
import nltk
nltk.download('words')

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

In [ ]:
# Load the list of English words
words = set(nltk.corpus.words.words())

In [ ]:
# Define a function to count the number of misspelled words in a text string
def count_misspelled_words(text):
    # Split the text into words
    words_in_text = text.split()

    # Count the number of misspelled words
    num_misspelled_words = 0
    for word in words_in_text:
        if word.lower() not in words:
            num_misspelled_words += 1

    return num_misspelled_words

In [ ]:
# Apply the function to the 'Text' column and create a new 'Misspelled_words' column
df['Misspelled_words'] = df['Text'].apply(count_misspelled_words)

In [ ]:
df.head()

,Url,Category,Position,Title,Location,Amount_Raised,Goal,Number_of_Donators,Length_of_Fundraising,FB_Shares,GFM_hearts,Text,Latitude,Longitude,Title_Length,Text_Length,Perc_long_words,Misspelled_words
0,https://www.gofundme.com/3ctqm-medical-bills-f...,Medical,0.0,"[92, yr, old, man, brutal, attack, .]","LOS ANGELES, CA",327345.0,15000,12167,1 month,26k,12k,rodolfo rodriguez need your help today ! 92 yr...,34.052234,-118.243685,7,79,18.987342,27
1,https://www.gofundme.com/olivia-stoy-bone-marr...,Medical,0.0,"[olivia, stoy, :, transplant, &, liv, it, up, !]","ASHLEY, IN",316261.0,1.0M,5598,3 months,12k,5.7k,thoma stoy need your help today ! olivia stoy ...,41.527273,-85.065523,9,76,13.157895,31
2,https://www.gofundme.com/autologous-Tcell-Tran...,Medical,1.0,"[autolog, t, cell, transplant]","STATEN ISLAND, NY",241125.0,250000,841,2 months,1.8k,836,philip defont need your help today ! autolog t...,40.579532,-74.150201,4,70,24.285714,29
3,https://www.gofundme.com/a-chance-of-rebirth,Medical,1.0,"[a, chanc, of, rebirth]","DUBLIN, CA",237424.0,225000,4708,1 month,9.7k,4.7k,sriram kanniah need your help today ! a chanc ...,37.702152,-121.935792,4,76,11.842105,19
4,https://www.gofundme.com/teamclaire,Medical,1.0,"[clair, wineland, need, our, help]","GARDEN GROVE, CA",236590.0,225000,8393,2 months,6.4k,8.9k,melissa yeager need your help today ! clair wi...,33.774269,-117.937995,5,72,18.055556,21

In [ ]:
# calculate the average word length
#def get_avg_word_length(text):
#    words = text.split()
#    if len(words) > 0:
#        return sum(len(word) for word in words) / len(words)
#    else:
#        return 0

#avg_word_length = df['Text'].apply(get_avg_word_length).mean()

In [ ]:
#print(avg_word_length)

In [ ]:
average_text_length = df['Text_Length'].mean()
average_text_length

71.22705314009661

In [ ]:
# save the dataset to a CSV file
df.to_csv('GFM.csv', index=False)

**compute word embedding**

In [ ]:
#!pip install transformers

In [ ]:
#import torch
#from transformers import AutoTokenizer, AutoModel

In [ ]:
#tokenizer = AutoTokenizer.from_pretrained('bert-base-uncased')
#model = AutoModel.from_pretrained('bert-base-uncased')

In [ ]:
def compute_word_embeddings(text):
    # Tokenize text into words
    words = text.split() # assumes words are separated by whitespace
    # Compute BERT embeddings for each word
    embeddings = []
    for word in words:
        encoded_word = tokenizer.encode(word, add_special_tokens=True, max_length=300, truncation=True)
        input_ids = torch.tensor(encoded_word).unsqueeze(0)
        outputs = model(input_ids)
        last_hidden_state = outputs.last_hidden_state
        word_embedding = torch.mean(last_hidden_state, dim=1).squeeze().detach().numpy()
        embeddings.append(word_embedding)
    # Compute differences between sequential embeddings
    differences = []
    for i in range(len(embeddings)-1):
        diff = np.abs(embeddings[i+1] - embeddings[i])
        differences.append(diff)
    # Compute mean of differences
    if len(differences) == 0:
        mean_diff = max_diff = min_diff = std_diff = np.nan
    else:
        mean_diff = np.mean(differences)
    return embeddings, mean_diff

In [ ]:
#df['speed'] = df['Text'].apply(compute_word_embeddings)